<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="false">
    <property name="LOG_HOME" value="/home/option0417/Dev/log" />
    <property name="DEFAULT_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%-5level][%thread][Line:%line] %class.%M %msg%n" />
    <property name="EXCEPTION_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%-5level][%thread][Line:%line] %class.%M %ex{full}%n" />
    
    <!-- Console -->    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${DEFAULT_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <!-- Exception Log --> 
    <appender name="logfile-exception" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${EXCEPTION_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">  
            <evaluator class="ch.qos.logback.classic.boolex.JaninoEventEvaluator">  
                <expression>throwableProxy != null</expression>  
            </evaluator>  
            <onMatch>ACCEPT</onMatch>  
            <onMismatch>DENY</onMismatch>  
        </filter>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <FileNamePattern>${LOG_HOME}/exception.log.%d{yyyy-MM-dd}.log</FileNamePattern>  
        </rollingPolicy>
    </appender>

    <root level="DEBUG">   
        <appender-ref ref="STDOUT" />
        <!-- appender-ref ref="FILE" /-->
    </root>
    
</configuration>